*{padding: 0;margin: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
body,html{font: 24px/24px Arial, 'Microsoft Yahei',"宋体", sans-serif;}
address, cite, em, i { font-style: normal; } 
small { font-size: 12px; } 
li { list-style: none; }
a { text-decoration: none; color: #010100;}
a:hover { text-decoration: none; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; line-height:normal; }
table{ border-collapse: collapse; border-spacing: 0; }
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}
iframe{display:block;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}

/*****public start*****/
.m-big,.fault-big,
.phoneType-big,
.service-function-big{
	background: #fef9ff;
}
/*******public end*******/
.m-big{
	width: 100%;
	margin: 0 auto;
}
header{
	height: 40px;
	line-height: 45px;
	padding: 5px 0.2rem;
}
header img{
	float: left;
}
header span{
	font-size: .7rem;
	float: right;
}
section.m-top{
	width: 100%;
}
div.nav{
	width: 52%;
	height: 40px;
	margin: 1rem auto 0;
}
div.nav .nav-title{
	padding: 0.2rem .3rem;
	float: left;
	border: 2px solid #244692;
	border-radius: 5px;
	width: 50%;
	text-align: center;
}
div.nav .nav-title a{
	font-size:.6rem;
	color: #244692;
}
.nav-select{
	background: #244692;
}
.nav-select a{
	color: #fff!important;
}
.m-roll{
	/*position: relative;*/
	width: 100%;
	/*height: 220px;*/
}
.m-roll img{
	width: 100%;
	/*position: absolute;*/
	/*left: 0;*/
}
.m-brand,.m-model,.m-off{
	border-bottom: 5px solid #e5e5e5;
}
.m-brand >ul li{
	width:16.666667%;
	float: left;
	text-align: center;
	margin-top: 2px;
	line-height: 20px;
}
.m-brand >ul li a{
	font-size: .7rem;
}
.m-ioc i{

	float: right;
}
.m-brand{
	padding: .4rem .5rem;
}
.brand-select{
	color: #244692;
}
.m-model,.m-off{
	padding: 10px 0;
}
.m-model ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.m-model li{
    border-radius: 5px;
    border: 2px solid #244692;
    width: 30.9%;
    padding: 16px 0;
    text-align: center;
    margin-left: 1.6%;
    margin-bottom: 2%;
}
.m-model li a{
	font-size: 0.6rem;
}
.m-off ul li{
	float: left;
	width: 50%;
	padding: 5px;

}
.m-off ul li img{
	width: 98%;
}
.m-adout ul li{
	border-bottom: 1px solid #dcdcdc;
	padding: 6px 10px 6px 6px;
	line-height: 0.7rem;
}
.m-adout ul{
	margin-top: 0.5rem;
}
.m-adout ul li a{
	font-size: 0.7rem;	
}
.m-adout ul li i{
	float: right;
}
footer{
	text-align: center;
	padding: 3rem 10px 55px 10px;
}
footer p{
	font-size: 0.4444rem;
}
.m-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.m-footer div{
	float: left;
	width: 50%;
	text-align: center;
	padding: 10px 0;
}
.m-footer div a{
	color: #fff;
}
.m-footer div:first-child{
	background: #4fccd4;
}
.m-footer div:last-child{
	background: #244692;
}
/**********phone type start***************/
.fault-head,.phoneType-head{
	text-align: center;
	font-size: .8rem;
	padding: .5rem;
	color: #244692;
}
.phoneType-head >a,.fault-head >a{
	float: left;
	color: inherit;
}
.phoneType-seek input{
	text-align: center;
	width: 95%;
	display: block;
	margin: 0 auto;
	border: none;
	background: #e5e5e5;
	border-radius: 4px;
	font-size: .8rem;
	padding: .2rem;
}
.phoneType-seek input:focus{
	border: none;
	outline: none;
}
.m-model h2{
	text-align: center;
	padding: 1rem;
	font-size: .8rem;
}
.phoneType-model{
	border: none;
}
/**********phone type end**************/
/**********phone fault start**************/

.fault-top{
	border-bottom: 5px solid #e5e5e5;
	border-top: 5px solid #e5e5e5;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
}
.fault-top-l,.fault-top-r{
	float: left;
	width: 50%;
	text-align: center;
	padding: 1.5rem 1.3rem;
}
.fault-top-r{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
     flex-wrap: wrap;
    -webkit-align-items: center;  
    align-items: center; 
}
.fault-top-r h2{
	font-size: .8rem;
}
.fault-top-r p{
	color: #244692;
	font-size: .7rem;
}
.fault-top-l{

}
.fault-top-l img{
	width: 70%;
}
.fault-info{
	padding-bottom: 50px;
}
ul.fault-info-color{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
     flex-wrap: wrap;
    -webkit-align-items: center;
    margin: 1.5rem 0;
}
ul.fault-info-color li{
	width: 21%;
	text-align: center;
	border: #a0a0a0 solid 2px;
	font-size: 0.7rem;
	line-height: 0.7rem;
    padding: .5rem 0;
	margin: .3rem 2%;
	background: #fff;
}
.info-select{
	border: #244692 solid 2px!important;
	color: #244692;
}
.fault-info-mes >div{
	font-size: .8rem;
	padding: 0 .3rem;
	line-height: .8rem;
	margin: 1rem 0;
}
.fault-info-mes >div >i{
	float: right;
	line-height: .8rem;
}
.fault-info-mes-tow{
	margin-top: 1rem;
}   
.fault-info-mes-tow >li{
	border: 2px solid #a0a0a0;
	margin: .3rem 0;
	padding: .3rem .3rem .3rem 3px;
	background: #fdfdff;
}
.fault-info-mes-tow >li span{
	float: right;
}
.info-tow-select{
	border-color: #244692!important;
}
.fault-info-mes-tow{
	display: none;
}
.fault-foot >div{
	text-align: center;
}
.fault-foot{
	border: #244692 solid 2px;
}
.fault-m{
	background: #fff!important;

}
/**********phone fault end**************/
/**********service function start**************/
.service-function-menu{
	display: flex;
	justify-content: space-around;
	border-top: 5px solid #e5e5e5; 

}
.service-function-menu >div >img{
	width: 2rem;
	height: 2rem;
}
.service-function-menu >div{
	text-align: center;
	padding: 2rem 0;

}
.service-function-menu >div span{
	display: block;
	font-size: .6rem;
	text-align: center;
}
.service-info li{
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0; 
}
.service-info li label,.service-info li input{
	display: inline-block;
	font-size: .8rem;
	margin-left: 0.8rem;
}
.service-info li label{
	
}
.service-info li input{
	background: inherit;
	border: none;
	font-size: 14px;
}
.service-info li input:focus,
.service-text:focus{
	outline: none;
}
.service-text{
	margin-top: 1rem;
	border: 2px solid #a8a9aa;
	width: 100%;
	height: 7rem;
	background: initial;
	padding: 0.7rem;
	font-size: 14px;
	line-height: 24px;

}

.service-next{
   	border: none;
    width: 100%;
    height: 48px;
    background-color: #244692;
    font-size: 15px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    margin-top: 0.64rem;
}
.address{
	display: inline-block;
	font-size: 0.7rem;
	color: #244692;
}

 
/**********service function end**************/