*{padding: 0;margin: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}

body,html{font: 24px/24px Arial, 'Microsoft Yahei',"宋体", sans-serif;}
address, cite, em, i { font-style: normal; } 
small { font-size: 12px; } 
li { list-style: none; }
a { text-decoration: none; color: #010100;}
a:hover { text-decoration: none; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; line-height:normal; }
table{ border-collapse: collapse; border-spacing: 0; }
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}
iframe{display:block;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}

.m-big{
	width: 100%;
	margin: 0 auto;
}
header{
	height: 40px;
	line-height: 45px;
	padding: 5px 0.2rem;
}
header img{
	float: left;
}
header span{
	font-size: .7rem;
	float: right;
}
section.m-top{
	width: 100%;
}
div.nav{
	width: 52%;
	height: 40px;
	margin: 1rem auto 0;
}
div.nav .nav-title{
	padding: 0.2rem .3rem;
	float: left;
	border: 2px solid #244692;
	border-radius: 5px;
	width: 50%;
	text-align: center;
}
div.nav .nav-title a{
	font-size:.6rem;
	
}