*{padding: 0;margin: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
body,button, input, select, textarea {font: 12px/24px Arial, 'Microsoft Yahei',"宋体", sans-serif;}
address, cite, em, i { font-style: normal; } 
small { font-size: 12px; } 
li { list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: none; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; line-height:normal; }
table{ border-collapse: collapse; border-spacing: 0; }
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}
iframe{display:block;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}

.m-big{
	width: 100%;
	margin: 0 auto;
}
header img{
	float: left;
}
header span{
	float: right;
}