*{padding: 0;margin: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}

body,html{font: 24px/24px Arial, 'Microsoft Yahei',"宋体", sans-serif;}
address, cite, em, i { font-style: normal; } 
small { font-size: 12px; } 
li { list-style: none; }
a { text-decoration: none; color: #010100;}
a:hover { text-decoration: none; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; line-height:normal; }
table{ border-collapse: collapse; border-spacing: 0; }
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}
iframe{display:block;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}

.m-big{
	width: 100%;
	margin: 0 auto;
}
header{
	height: 40px;
	line-height: 45px;
	padding: 5px 0.2rem;
}
header img{
	float: left;
}
header span{
	font-size: .7rem;
	float: right;
}
section.m-top{
	width: 100%;
}
div.nav{
	width: 52%;
	height: 40px;
	margin: 1rem auto 0;
}
div.nav .nav-title{
	padding: 0.2rem .3rem;
	float: left;
	border: 2px solid #244692;
	border-radius: 5px;
	width: 50%;
	text-align: center;
}
div.nav .nav-title a{
	font-size:.6rem;
	color: #244692;
}
.nav-select{
	background: #244692;
}
.nav-select a{
	color: #fff!important;
}
.m-roll img{
	width: 100%;
	margin: 0 auto;
}
.m-brand,.m-model,.m-off{
	border-bottom: 5px solid #e5e5e5;
}
.m-brand >ul li{
	width:16.666667%;
	float: left;
	text-align: center;
	margin-top: 2px;
	line-height: 20px;
}
.m-brand >ul li a{
	font-size: .7rem;
}
.m-ioc i{

	float: right;
}
.m-brand{
	padding: .4rem .5rem;
}
.brand-select{
	color: #244692;
}
.m-model{
	padding: 10px 0;
}
.m-model li{
	float: left;
	border-radius: 5px;
	border: 2px solid #244692;
	width: 4.7777rem;
	padding: 16px 5px;
	text-align: center;
	margin: 5px;
}
.m-model li a{
	font-size: 0.6rem;
}